body {
    background-image: url("../images/paper.jpg");
    font-family: 'Gaegu', cursive;
}

img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#content {
    /*padding-top:56px;*/
    border: 3px solid rgb(133,135,150);
    border-radius: 20px;
    margin: 76px 20px 20px 20px;
}

#content-v {
    /*padding-top:56px;*/
    border: 3px solid rgb(133,135,150);
    border-radius: 20px;
    margin: 76px 5px 5px 5px;
    overflow-x: auto;
}

.btn {
    margin: 3px;
}

.header {
    padding: 20px;
}

form {
    text-align:center;
}

.button {
    text-align:center;
}

.dialogue p {
    padding:5px;
    border:3px solid rgb(133,135,150);
    border-radius: 20px;
}

@media (max-width: 851px) {

    .hidden {
        display: None;
    }

    body {
        font-size: 90%;
    }

    .btn {
        font-size: 90%;
        padding: 3px;
    }

    #content {
        padding-top: 56px;
        margin: 0;
        border: 0;
    }

    #content-v {
        padding-top: 56px;
        overflow-x: auto;
        margin: 0;
        border: 0;
    }

}

@media (max-width: 411px) {
    body {
        font-size: 90%;
    }
}

@media (max-width: 255px) {

    #content {
        padding-top: 96px;
    }

    body {
        font-size: 80%;
    }
}
