body {
    /*background-image: url("../images/paper.jpg");*/
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    font-family: 'Gaegu', cursive;
}

nav {
    background-color: rgba(202, 72, 46, 0.9);
    color: white;
}

nav a {
    color: white;
    font-family: 'Gaegu', cursive;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    height: 23px;
    text-align:center;
    background-color: rgba(202, 72, 46, 0.9);
    color: white;
    font-family: 'Gaegu', cursive;
}

img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#content {
    border: 3px solid rgb(133,135,150);
    border-radius: 20px;
    margin: 76px 20px 49px 20px;
    padding-bottom:24px;
    color:rgb(71,74,81);
}

#content-v {
    border: 3px solid rgb(133,135,150);
    border-radius: 20px;
    margin: 76px 5px 29px 5px;
    overflow-x: auto;
    color:rgb(71,74,81);
}

.btn {
    margin: 3px;
}

.header {
    padding: 20px;
}

form {
    text-align:center;
}

.button {
    text-align:center;
}

.dialogue p {
    padding:5px;
    border:3px solid rgb(133,135,150);
    border-radius: 20px;
}

h4 {
    text-align:center;
}

@media (max-width: 851px) {

    .hidden {
        display: None;
    }

    body {
        font-size: 90%;
    }

    .btn {
        font-size: 90%;
        padding: 3px;
    }

    #content {
        padding-top: 56px;
        margin: 0;
        border: 0;
    }

    #content-v {
        padding-top: 56px;
        overflow-x: auto;
        margin: 0;
        border: 0;
    }

}

@media (max-width: 255px) {

    #content {
        padding-top: 96px;
    }

    body {
        font-size: 90%;
    }
}
