<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel='shortcut icon' href="{{ url_for('static', filename='favicon_io/favicon.ico') }}" type='image/x-icon' />
  <link href="https://fonts.googleapis.com/css?family=Gaegu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crafty+Girls&display=swap" rel="stylesheet">

  <title>Family Expenses Tracker : Delete Transaction</title>
</head>

<body>

  <!--nav bar-->
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top rounded-bottom">
    <h1 class="navbar-brand"><img id="icon" src="{{ url_for('static', filename='img/icon.png') }}" alt=""> Family Expenses Tracker</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('addtransaction') }}"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Transaction</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('viewall') }}"><i class="fa fa-th-list" aria-hidden="true"></i> History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('tags') }}"><i class="fa fa-tags" aria-hidden="true"></i> Tags</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--end nav-->

  <div id='content-v'>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="text-center header">
            <h1 class="h2 mb-0"><i class="fa fa-times" aria-hidden="true"></i> Delete Transaction</h1>
          </div>
        </div>
      </div>
      <div class="row">
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Transaction</th>
                <th class = "hidden">Category</th>
                <th class = "hidden">Mode</th>
                <th>By</th>
                <th class = "hidden">Date Created/Modified</th>
                <th>Debit (SGD$)</th>
                <th>Credit (SGD$)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{ transaction['description'] }}
                </td>
                <td class = "hidden">
                  {{ transaction['cname'] }}
                </td>
                <td class = "hidden">
                  {{ transaction['mname'] }}
                </td>
                <td>
                  {{ transaction['aname'] }}
                </td>
                <td class = "hidden">
                  {{ transaction['createdAt']}}
                </td>
                <td >
                  {{ transaction['debit'] }}
                </td>
                <td>
                  {{ transaction['credit'] }}
                </td>
            </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col dialogue">
        <form method='POST' action='{{ url_for("delete_transaction", id=transaction['id']) }}'>
          <p>You are deleting this transaction. This cannot be undone! Are you sure?</p>
          <input class='btn btn-danger' type='submit' value='Delete' />
          <a class='btn btn-primary' href='{{url_for('viewall')}}'>Back</a>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <footer class = "rounded-top">
    <p>Designed by Yu Cheng</p>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
