<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel='shortcut icon' href="{{ url_for('static', filename='favicon_io/favicon.ico') }}" type='image/x-icon' />
  <link href="https://fonts.googleapis.com/css?family=Gaegu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crafty+Girls&display=swap" rel="stylesheet">

  <title>Family Expenses Tracker : Edit Transaction</title>
</head>

<body>
    <!--nav bar-->
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top rounded-bottom">
    <h1 class="navbar-brand"><img id="icon" src="{{ url_for('static', filename='img/icon.png') }}" alt=""> Family Expenses Tracker</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('addtransaction') }}"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Transaction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('viewall') }}"><i class="fa fa-th-list" aria-hidden="true"></i> History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('tags') }}"><i class="fa fa-tags" aria-hidden="true"></i> Tags</a>
      </li>
    </ul>
  </div>
    </nav>
    <!--end nav-->
    
    <div id ="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
          <div class="text-center header">
            <h1 class="h2 mb-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Transaction</h1>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
    <form method='POST'>
      <class='form-group'>
        <label class='label'>
                      Description:
                  </label>
        <input type='text' class='form-control' pattern="[a-zA-Z0-9\s]+" name='transaction' value="{{ transaction['description'] }}" title="Alphanumeric only">
        <label class='label'>
                      Category:
                  </label>
        <select name='category' class='form-control selectpicker' data-live-search="true">
                          {%for d in categories%}
                          <option value='{{ d['id'] }}' {%if d['id'] == transaction.categoriesid %} selected='selected'{%endif%}>{{ d['name'] }}</option>
                               {%endfor%}
                      </select>
        <label class='label'>
                      Mode of Transaction:
                  </label>
        <select name='mode' class='form-control selectpicker' data-live-search="true" value="{{ transaction['modeid'] }}">
                  {%for d in mode %}
                  <option value='{{ d['id'] }}' {%if d['id'] == transaction.modeid %} selected='selected'{%endif%}>{{ d['name'] }}</option>
                       {%endfor%}
              </select>
        <label class='label'>
                      By:
                  </label>
        <select name='by' class='form-control selectpicker' data-live-search="true" value="{{ transaction['accountid'] }}">
                  {%for d in account %}
                  <option value='{{ d['id'] }}' {%if d['id'] == transaction.accountid %} selected='selected'{%endif%}>{{ d['name'] }}</option>
                       {%endfor%}
              </select>
        <label class='label'>
                      Debit (SGD$):
                  </label>
        <input type='number' step="0.01" class='form-control' name='debit' value="{{ transaction['debit'] }}" placeholder="Numbers only">
        </class>
        <label class='label'>
                      Credit (SGD$):
                  </label>
        <input type='number' step="0.01" class='form-control' name='credit' value="{{ transaction['credit'] }}" placeholder="Numbers only">
        </class>
        <label class='tag'>
                      Tag (Optional):
                  </label>
        <select name='tag' class='form-control selectpicker' Multiple data-live-search="true">
                  {%for d in tag %}
                  <option value='{{ d['id'] }}' {%if d['id'] == id %}selected='selected'{%endif%}>{{ d['name'] }}</option>
                       {%endfor%}
              </select>
        <input type='submit' class='btn btn-primary mt-3'>
        <a class='btn btn-primary mt-3' href='{{url_for('viewall')}}'>Back</a>
    </form>
    </div>
    </div>
  </div>
</div>

  <footer class="rounded-top">
    <p>Designed by Yu Cheng</p>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>
</body>

</html>
