<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Hello, world!</title>
  </head>
  <body>
      
    <!--nav bar-->
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Expenses Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('addtransaction') }}"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Transaction</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('viewall') }}"><i class="fa fa-th-list" aria-hidden="true"></i> History</a>
      </li>
    </ul>
  </div>
    </nav>
    <!--end nav-->
  <div id='content'>
    <div class='container'>
        <div class="row">
        <img src="/static/images/dew.jpg"/>
        </div>
        <h1>Dew's Family Expenses Tracker</h1>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Transaction</th>
                    <th scope="col">Category</th>
                    <th scope="col">Mode of transaction</th>
                    <th scope="col">By</th>
                    <th scope="col">Date</th>
                    <th scope="col">Debit</th>
                    <th scope="col">Credit</th>
                    <th scope="col">Update</th>
                </tr>
            </thead>
            {%for r in data%}
            <tr>
                <tbody>
                <td scope="row">
                {{ r['description'] }}
                </td>
                <td scope="row">
                {{ r['cname'] }}
                </td>
                <td scope="row">
                {{ r['mname'] }}
                </td>
                <td scope="row">
                {{ r['aname'] }}
                </td>
                <td scope="row">
                {{ r['createdAt']}}
                </td>
                <td scope="row">
                {{ r['debit'] }}
                </td>
                <td scope="row">
                {{ r['credit'] }}
                </td>
                <td scope="row">
                   <a class="btn btn-outline-primary" href='{{ url_for('edit_transaction', id=r['id'] )}}' role="button">Edit</a>
                   <br>
                   <a class="btn btn-outline-danger" href='{{ url_for('edit_transaction', id=r['id'] )}}' role="button">Delete</a>
               </td>
               </tbody>
            </tr>
            {%endfor%}
        </table>
            <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Total Debit</th>
                    <th>Total Credit</th>
                    <th>Balance</th>
                </tr>
            </thead>
                <tr>
                    <td>{{totaldebit['totaldebit']}}</td>
                    <td>{{totalcredit['totalcredit']}}</td>
                    <td>{{balance['balance']}}</td>
                </tr>
            </table>
    </div>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>